@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

*{
  font-family: 'Cousine', monospace;
  box-sizing: border-box;
  --lg: #f0ffff;
  --lg2: #cee0e0;
  --lg3: #adc5c5;
  --lg4: #94afaf;
  --lg5: #809797;
  --blue-1: #70a1ff;
  --blue-2: #1e90ff;
  --blue-3: #1061da;
  --navy-text: #26266D;
}
.scrambleText{
  text-align: center;
  font-size: 50px;
  color: var(--navy-text);
}
.timeText{
  font-size: 100px;
}
.solvesContainer{
  display:flex;
}
.solvesContainer div{
  border: 10px;
  border-color: var(--navy-text);
  padding: 15px;
}
.solvesColumn1{
  flex:1;
}
.solvesColumn2{
  flex:1;
}
.solvesColumn3{
  flex:1;
}
.btn{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 125px;
  padding-right: 125px;
  background-color: var(--lg2);
  color: var(--navy-text);
  border-radius: 12px;
  box-shadow: inset 8px 8px 5px var(--lg), inset -8px -8px 5px var(--lg3);
  border: 3px solid var(--blue-3);
  justify-content: center;
  text-align: center;
  font-size: 40px;
}
.btn:hover{
  background-color: var(--lg3);
  box-shadow: inset 8px 8px 5px var(--lg2), inset -8px -8px 5px var(--lg4);
}
.btn:active{
  background-color: var(--lg4);
  box-shadow: inset 8px 8px 5px var(--lg5), inset -8px -8px 5px var(--lg5);
}
.timerButtons{
  display: flex;
  justify-content: center;
}
body {
  background-image: linear-gradient(var(--blue-1), var(--blue-3));
}
header {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 0%;
}
.navLinks {
  list-style: none;
  border-radius: 5px;
}
.navLinks li{
  display: inline-block;
  padding: 0px 20px;
}
.navLinks li a {
  color: var(--navy-text);
  background-color: var(--blue-1);
  border: 3px solid var(--blue-2);
  border-radius: 5px;
  padding: 10px 10px;
  transition: all 0.3s ease 0s;
}
.navLinks li a:hover {
  border-color: var(--blue-3);
  background-color: var(--blue-2);
}
button {
  padding: 9px 25px;
  background-color: var(--blue-1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  border-color: var(--blue-3);
  background-color: var(--blue-2);
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }