@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

*{
  font-family: 'Cousine', monospace;
  box-sizing: border-box;
  --blue-1: #70a1ff;
  --blue-2: #1e90ff;
  --blue-3: #1061da;
  --navy-text: #26266D;
}

.scrambleText {
  text-align: center;
  color: var(--navy-text);
}
.btn{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: var(--blue-1);
  color: var(--navy-text);
  border-radius: 12px;
  border: 3px solid var(--blue-2);
  justify-content: center;
  text-align: center;
}
.newScrambleButton{
  display: flex;
  justify-content: center;
}
body {
  background-image: linear-gradient(var(--blue-1), var(--blue-3));
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 0%;
}

.navLinks {
  list-style: none;
  border-radius: 5px;
}
.navLinks li{
  display: inline-block;
  padding: 0px 20px;
}

.navLinks li a {
  color: var(--navy-text);
  background-color: var(--blue-1);
  border: 3px solid var(--blue-2);
  border-radius: 5px;
  padding: 10px 10px;
  transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
  border-color: var(--blue-3);
  background-color: var(--blue-2);
}

button {
  padding: 9px 25px;
  background-color: var(--blue-1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  border-color: var(--blue-3);
  background-color: var(--blue-2);
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }