@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

*{
  font-family: 'Cousine', monospace;
  box-sizing: border-box;
}
.btn{
  padding: 15px;
  background-color: #2980b9;
  color: rgb(203, 203, 248);
  border-radius: 12px;
  border: 3px solid #2472a7;
  align-items: center;
}

body {
  background-color: #3498db;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 0%;
}

.navLinks {
  list-style: none;
  border-radius: 5px;
}
.navLinks li{
  display: inline-block;
  padding: 0px 20px;
}

.navLinks li a {
  color: rgb(203, 203, 248);
  background-color: #2980b9;
  border: 3px solid #2472a7;
  border-radius: 5px;
  padding: 10px 10px;
  transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
  border-color: #2980b9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 160, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 160, 0.8);
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }